/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body 		{background:#DFE3E6;padding-top:15px;}
main		{background:#FFFFFF;}
figure		{height:125px;}
nav			{height:125px;}
nav ul		{margin-top:50px;text-align:right;}
nav ul li	{display:inline;}
nav ul li a,
nav ul li a:visited	{padding:3px 10px;font-size:130%;text-decoration:none;color:#CC1C0D;}
/* #Page Styles
================================================== */
	@media only screen and (min-width: 760px) {
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
			font-size: .75em !important;
	}
}
.cycle-pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span.cycle-pager-active { 
	color: #007fff;
}
.cycle-pager > * {
	cursor: pointer;
}
#sticker a {
	color: #cc1c0d;
	text-decoration: none;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
}

#confirm {
	display: none;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		figure 		{width:100%;text-align:center;}
		nav			{height:40px;padding:0 5px;}
		nav	ul		{text-align:center;margin-top:0;}
		nav ul li a	{font-size:100%;}
		nav select	{width:95%;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/